.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* App.css */

/* Styling for the container */
.container {
  background-color:skyblue; /* Container background color */
  margin: 0 auto; /* Center the container horizontally */
  max-width: 800px; /* Set a maximum width for the container */
  padding: 20px; /* Add padding for spacing inside the container */
}

/* Styling for the header */
header {
  background-color: rgb(182, 182, 101); /* Header background color */
  padding: 10px; /* Add padding for spacing inside the header */
  text-align: center; /* Center-align the text */
}

/* Styling for the table */
/* Remove the tr:nth-child(odd) selector to apply the same background color to all rows */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Styling for table cell (td) */
td {
  padding: 8px;
  text-align: center;
  background-color: #f2f2f2; /* Set the background color for all cells */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
